.main {
    width: 50%;
    height: 100%;
    border-radius: 1%;
    display: inline-block;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}


.cityChoise {
    margin: 0 auto;
    width: 50%;
    height: 20px;


}

.main_back {
    width: 100%;
    height: 100vh;
    background: url("http://www.gandex.ru/upl/oboi/u17782_9043_1-7721.jpg");
    /*display: inline-block;*/
    background-size: cover;
}

#say {
    width: 160px;
    height: 27px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 5%;
}

.btn_main_area {
    /*display: inline-block;*/
    width: 250px;
}

.city_font_style {
    font-family: sans-serif;
}

.cash_index {
    float: right;
    position: relative;
    width: 270px;
    margin-right: 0%;
    margin-top: 20px;
    /*display: inline-block;*/

}

.info_Area {
    border: 1px solid #ecf5a4;;
    width: 99%;
    height: 150px;
    margin-top: 1px;
    background: #ecf5a4;
}

body {
    margin: 0;
}

.result_style {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

.main_result_dinamic {
    color: #1317ff;
    font-family: sans-serif;
    font-size: 14px;


}

.main_result_default {
    flex-direction: row;
    font-weight: bold;

}

.main_result_default_city {
    flex-direction: row;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.info_Area_unit {
    border-radius: 3%;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 14px;
    display: flex;


}

.info_Area_dell_unit {
    border-radius: 3%;
    font-size: 14px;
    display: flex;
}




.your_city {
    float: left;
    position: relative;
    width: 200px;
    height: 75px;
    margin-top: 10%;
    margin-right: 12%;
    border-radius: 3%;
}

.result_style_your_city {
    width: 250px;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);

}

.demo {
    width: 260px;
    margin-top: 20px;
    display: inline-block;
}
#city{
width: 300px;
    height: 20px;
}
